# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Logs
*.log
logs/

# Python cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db